.carousel-item {
    max-height: 32rem;
    background: #ffc107;
    color: white;
    position: relative;
    object-fit: contain;
}
.container div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
#aboutme {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 2em;
    background-color: #ffc107;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-weight: bolder;
    font-size: 2.5em;
    text-emphasis: 'x';
    -webkit-text-emphasis: 'x';
}

body {
    background-color: #ffc107;
}

#inventory {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
}

#jairo {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
}

.nav-link {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
}

h2 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    text-align: center;
    text-emphasis: 'x';
    -webkit-text-emphasis: 'x';
}

#carouselExampleIndicators {
    border: solid;
}